<form [formGroup]="pedidoForm" (ngSubmit)="onSubmit()">
  <!-- Campos Principais do Pedido -->
  <div>
    <label>Nome:</label>
    <input id="nome" type="text" formControlName="nome" readonly />
  </div>

  <div>
    <label>Email:</label>
    <input id="email" type="email" formControlName="email" readonly />
  </div>

  <!-- Telefones -->
  <div formGroupName="telefone">
    <label for="codegoDeArea">Código de Área:</label>
    <input id="codegoDeArea" formControlName="codegoDeArea" />
  
    <label for="numero">Telefone:</label>
    <input id="numero" formControlName="numero" />
  </div>

  <!-- Endereço -->
  <div formGroupName="endereco">
    <label for = 'cep'>CEP:</label>
    <input id="cep" formControlName="cep" />

    <label for = 'logradouro'>Logradouro:</label>
    <input id = 'logradouro' formControlName="logradouro" />

    <label for = 'bairro'>Bairro:</label>
    <input id = 'bairro' formControlName="bairro" />

    <label for = 'complemento'>Complemento:</label>
    <input id = 'complemento' formControlName="complemento" />
  
    <!-- Município -->
    <label for="municipio">Município</label>
    <select id="municipio" formControlName="municipio" (change)="onMunicipioChange($event)">
      <option *ngFor="let municipio of municipios" [value]="municipio.idMunicipio">
        {{ municipio.nome }} 
      </option>
    </select>

    <!-- Estado -->    
    <label for="nomeEstado">Estado</label>
    <input id="nomeEstado" type="text" [value]="pedidoForm.get('endereco.nomeEstado')?.value" readonly />
  
  </div>
  <!-- Seção de Pagamento -->
  <div>
    <label>Forma de Pagamento:</label>
    <div>
      <label>
        <input type="radio" formControlName="formaDePagamento" value="PIX" (change)="atualizarFormaDePagamento()" />
        PIX
      </label>
      <label>
        <input type="radio" formControlName="formaDePagamento" value="CARTAO" (change)="atualizarFormaDePagamento()" />
        Cartão
      </label>
    </div>
  </div>

  <!-- Campos do Cartão (habilitados apenas se Cartão for selecionado) -->
  <div *ngIf="pedidoForm.get('formaDePagamento')?.value === 'CARTAO'" formGroupName="cartao">
    <label>Número do Cartão:</label>
    <input formControlName="numero" />

    <label>Nome do Titular:</label>
    <input formControlName="nomeTitular" />

    <label>CPF:</label>
    <input formControlName="cpf" />

    <label>Validade:</label>
    <input formControlName="validade" placeholder="MM/AA" />

    <label>CVV:</label>
    <input formControlName="cvv" />
  </div>

  <!-- Pix QR Code -->
  <div *ngIf="pedidoForm.get('formaDePagamento')?.value === 'PIX'">
    <label>QR Code:</label>
    <img [src]="qrCodePix" alt="QR Code Pix" />
    <p>Copia e Cola: {{ copiaColaPix }}</p>
  </div>

  <!-- Botões de Ação -->
  <div>
    <button type="submit" [disabled]="pedidoForm.invalid">Confirmar Pedido</button>
    <button type="button" (click)="cancelarPedido()">Cancelar</button>
  </div>
</form>