<mat-toolbar>
    <div class="toolbar-title">Minha Conta</div>
</mat-toolbar>
  
<div *ngIf="usuarioLogado" class="user-details">
    <div class="user-field">
      <strong>ID:</strong> <span>{{ usuarioLogado.id }}</span>
    </div>
    <div class="user-field">
      <strong>Nome:</strong> <span>{{ usuarioLogado.nome }}</span>
    </div>
    <div class="user-field">
      <strong>Email:</strong> <span>{{ usuarioLogado.email }}</span>
    </div>
    <div class="user-field">
      <strong>Username:</strong> <span>{{ usuarioLogado.username }}</span>
    </div>
    <div class="user-field">
      <strong>Perfil:</strong> <span>{{ usuarioLogado.perfil.label }}</span>
    </div>
    <div class="user-actions">
      <button mat-raised-button color="primary" [routerLink]="['/usuario/edit', usuarioLogado.id]">Editar</button>
      <button mat-raised-button color="warn" (click)="deletar(usuarioLogado.id)">Excluir Conta</button>
    </div>
</div>
  
<div *ngIf="!usuarioLogado" class="no-user">
    <p>Nenhum usuário logado encontrado.</p>
</div>  