<div class="login-container">
    <div class="login-box">
        <img src="assets/icons/passkey.svg" alt="Passkey" class="login-icon">
        <h2 class="login-title">Bem-vindo</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Campo Username -->
            <mat-form-field class="login-input">
                <input matInput placeholder="Username" formControlName="username" required>
                <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                    O username é obrigatório
                </mat-error>
            </mat-form-field>

            <!-- Campo Senha -->
            <mat-form-field class="login-input">
                <input matInput type="password" placeholder="Senha" formControlName="senha" required>
                <mat-error *ngIf="loginForm.get('senha')?.hasError('required')">
                    A senha é obrigatória
                </mat-error>
            </mat-form-field>

            <!-- Botão Login -->
            <button mat-raised-button class="login-button" color="primary" type="submit">
                Login
            </button>
        </form>
    </div>
</div>
