.sidebar {
  background-color: #F7F1E3; /* Rosa pastel */
  padding: 20px;
  width: 250px;
  height: calc(100vh - 64px);
  position: fixed;
  top: 100px;
  left: 0;
  border-right: 2px solid #FFE4C4; /* Laranja claro */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Para lidar com conteúdos que excedam a altura */
  transition: transform 0.3s ease-in-out;
}

.sidebar.hidden {
  transform: translateX(-100%); /* Move completamente a barra lateral para fora da tela */
  box-shadow: none; /* Remove a sombra quando escondido */
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Garante que o header fique acima da sidebar */
  background-color: #FFE4C4; /* Laranja pastel */
}

footer.sidebar-hidden {
  left: 0; /* Expande o rodapé para ocupar o espaço da sidebar oculta */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #FFE4C4; /* Laranja claro */
  color: #000;
}

.sidebar-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.sidebar-label {
  font-size: 1rem;
}

.active {
  background-color: #FFDAB9; /* Destaque para a rota ativa */
  color: #000;
}
  